<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:longwhaleblocks/artworkarchive /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"artwork-type","className":"is-style-pill"} /-->

<!-- wp:post-terms {"term":"category","className":"is-style-pill"} /-->

<!-- wp:post-terms {"term":"post_tag","className":"is-style-pill"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->