@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 960px) {
    @content;
  }
}

.home {
  // color: #333;
  // font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  position: relative;
  background-size: 100vw 100vh;
  background-position:
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px;
  background-image: repeating-linear-gradient(
      315deg,
      #00ffff2e 92%,
      #073aff00 100%
    ),
    repeating-radial-gradient(
      75% 75% at 238% 218%,
      #00ffff12 30%,
      #096dcc14 39%
    ),
    radial-gradient(99% 99% at 109% 2%, rgb(9, 78, 97) 0%, #032d8800 100%),
    radial-gradient(99% 99% at 21% 78%, rgb(2, 44, 77) 0%, #05239800 100%),
    radial-gradient(
      160% 154% at 711px -303px,
      rgb(0, 24, 84) 0%,
      rgb(0, 41, 122) 100%
    );
}

header {
  background-color: transparent !important;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $mainBlue;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}
.single-artwork {
}
